.hot-main
  display: flex
  margin-top: 20px
.nav
  flex: 0 0 200px
  background: #ffffff
  margin: 10px
  border-radius: 10px
  li
    font-size: 16px
    line-height: 60px
    padding: 0 10px
    border-bottom: 1px solid #eee
    text-align: center
.content
  flex: 1
  background: #ffffff
  margin: 10px
  border-radius: 10px
  padding: 20px
  .li-img
    margin-bottom: 10px
  .eu
    display: flex
    .chn-left-content
      background-image: url(https://ws-qn-echo-image-cdn.app-echo.com/FkAgC5HPRHaHq3qqWlQ-xTHNroRH?imageMogr2/auto-orient/quality/100%7CimageView2/0/w/500/q/100)
      width: 235px;
      height: 255px;
      margin-right: 14px;
      flex: 0 0 235px
      position: relative
      left: 0;
      top: 1px;
      z-index: 10;
      padding-left: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      .black-mask
        background: #000;
        opacity: .15;
        position: absolute;
        width: 100%;
        height: 80px;
        left: 0;
        bottom: 0;
        z-index: -1;
      .text
        position: absolute
        bottom: 15px
        span 
          color: #fff;
          margin: 15px 0 0 6px;
          padding-left: 25px;
        h4
          color: #fff;
          font-size: 20px;
          height: 30px;
          line-height: 30px;
          margin-top: 12px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        .chn-music
          width: 16px;
          height: 16px;
          margin-left: 0;
          background: url(http://www.app-echo.com/v/dist-prod/images/31ad84ad80fd82193d819c7f13f204b0.png) left center no-repeat;
        .chn-comment
          width: 16px;
          height: 15px;
          background: url(http://www.app-echo.com/v/dist-prod/images/b25cb7152115b8bf0a6e874886fecd96.png) left center no-repeat;
        .chn-color
          width: 15px;
          height: 15px;
          background: url(http://www.app-echo.com/v/dist-prod/images/abc4cca67678bc9ed0070f5f6013c24c.png) left center no-repeat;
.chn-right-content
  h1
    margin-bottom: 10px
    margin-top: 10px
div.songlist
  ul
    display: block
    flex-wrap: wrap
    li
      float: left
      width: 200px
      background: #eee
      margin-right: 15px
      margin-bottom: 15px
      img
        float: left
        width: 60px
        height: 100%
        clear: both
      h4
        font-size: 12px;
        margin: 10px 5px;
        width: 126px;
        float: right;
        height: 40px
        overflow: hidden
a
  cursor: pointer