.header 
  position: relative
  display: flex
  height: 80px
  box-sizing: border-box
  justify-content: space-around
  align-content: space-around
  border-bottom: 1px solid #ccc
  background: white
  z-index: 1;
  img 
    margin-left: 20px
  .caption
    font-size: 20px
    text-indent: 20px
  a
    box-sizing: border-box
    line-height: 80px
    height: 80px
    padding: 0 12px
    font-size: 14px
    &.active
      border-bottom: 4px solid #6ed56c